h1 {
    color: brown;
    background-color: aqua;
    text-align: center;

}
/* Style labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  form {
    border: 3cm;
  }
  body  {border-style: solid;
         background-color: aquamarine;

  };
 p { margin: auto;

 }
  input {
    color: blue;
    box-sizing: border-box;
  }