h1 {
    color: brown;
    background-color: aqua;
    text-align: center;
    font-size: 150%;

}

  
  
  
  body  {border-style: solid;
         background-color: aquamarine;
         font-family: 'Poppins', sans-serif;
         font-size: 1rem;

  };
 p { margin: auto;

 }
  input {
    color: blue;
    box-sizing: border-box;
    
  }
  button {
    display: inline-block;
    border: 2px solid black;
    color: brown;
    background-color: beige;
  }
  

  .form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}

header {
  display: block;
}
iv {
  display: block;
}